body {
    font-family: 'normal-font', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: auto;
}

h2 {
    text-align: center;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    cursor: url("../../images/cursor/genshin_cursor.cur"), auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.register-link {
    color: #007BFF;
    text-decoration: none;
}

.register-link:hover {
    color: #0056b3;
    text-decoration: underline;
}
