.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
    text-align: center;
}

.register-container h2 {
    margin-bottom: 20px;
}

.register-container form label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.register-container form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.register-container button:hover {
    background-color: #0056b3;
}

.register-container .login-link {
    color: #007BFF;
    text-decoration: underline;
}

.register-container .login-link:hover {
    color: #0056b3;
}
