@font-face {
    font-family: 'normal-font';
    src: url('../../../public/fonts/Genshin_Impact_DRIP.ttf') format('truetype');
}

body {
    font-family: 'normal-font', sans-serif; /* Terapkan font ini ke elemen body */
}
